<h2 style="margin-top: 0;">Possibly affected Ebuilds</h2>

<ul>
<% @package_hints.each do |package| %>
  <li>
    <strong><tt><%= package %></tt></strong><br />
    <%= Glsamaker::Portage.get_metadata(package, :latest, [:description])[:description] %><br />
    [<a href="http://sources.gentoo.org/cgi-bin/viewvc.cgi/gentoo-x86/<%= package %>" target="_blank">sources.g.o</a>]
    [<a href="https://<%= GLSAMAKER_BUGZIE_HOST %>/buglist.cgi?quicksearch=<%= package %>" target="_blank">bugs.g.o</a>]
    [<a href="https://<%= GLSAMAKER_BUGZIE_HOST %>/buglist.cgi?query_format=advanced&short_desc_type=allwordssubstr&short_desc=<%= package %>&product=Gentoo+Security&long_desc_type=substring&long_desc=&bug_file_loc_type=allwordssubstr&bug_file_loc=&status_whiteboard_type=allwordssubstr&status_whiteboard=&keywords_type=allwords&keywords=&bug_status=UNCONFIRMED&bug_status=CONFIRMED&bug_status=IN_PROGRESS&bug_status=REOPENED&bug_status=RESOLVED&bug_status=VERIFIED&bug_status=CLOSED&emailassigned_to1=1&emailtype1=substring&email1=&emailassigned_to2=1&emailreporter2=1&emailcc2=1&emailtype2=substring&email2=&bugidtype=include&bug_id=&votes=&chfieldfrom=&chfieldto=Now&chfieldvalue=&cmdtype=doit&order=Reuse+same+sort+as+last+time&field0-0-0=noop&type0-0-0=noop&value0-0-0=" target="_blank">Secbug history</a>]
  </li>
<% end %>
</ul>

<h2 style="margin-top: 0;">Raw CPE data</h2>
<ul>
<% @cve.cpes.each do |cpe| %>
  <li>
    <tt><%= cpe.cpe %></tt>
  </li>
<% end %>
</ul>
