<li>
  <input type="hidden" name="commentread-<%= comment.id %>" id="commentread-<%= comment.id %>" value="<%= comment.read ? "true" : "false" %>" />
  <span style="float: right;">
    <%= link_to_function (comment.read ? '<img src="/images/icons/flag-green.png" alt="Done." />' : '<img src="/images/icons/flag.png" alt="Todo" />'), 
                              "toggleCommentRead(#{comment.id})",
                              :title => 'Toggle read status',
                              :id => "commentflag-#{comment.id}"  %>
        
    </a>        
  </span>
   
  <div style="float: left;">
    <%= case comment.rating
        when "approval"
          '<img src="/images/icons/unaffected.png" alt="Approval" title="Approval" />'
        when "rejection"
          '<img src="/images/icons/affected.png" alt="Rejection" title="Rejection" />'
        else
          '<img src="/images/icons/reference.png" alt="Neutral" title="Neutral" />'
        end -%>
    <small style="color: grey; vertical-align: text-bottom;"><%= @comment_number ||= 1 %></small>
  </div>
  
  <div style="margin-left: 35px;"><%= comment.text %></div>
  <div style="font-size: 2px;">&nbsp;</div>
  
  <div style=" float: right;"><small>-- <%= comment.user.name %>, <%= comment.created_at %></small></div>
 
  <div style="float: none;">&nbsp;</div>
</li>

<% @comment_number += 1 -%>