<tr id="bug-<%= bug.bug_id %>">
  <input type="hidden" name="glsa[bugs][]" value="<%= bug.bug_id %>" />
  <td><%= bugready_icon(bug.bug_ready?) %></td>
  <td>
    <a href="javascript:///" onclick="buginfo(<%= bug.bug_id %>);"><strong><%= bug.bug_id %></strong></a> <small><a href="<%= bug.bug_url %>">[BZ]</a></small></td>
  <td><%= truncate(bug.title, :length => 60) %></td>
  <td>
    <%= link_to_function(
      image_tag('icons/minus.png', :alt => 'Mark as deleted'),
      "GLSAMaker.editing.bugs.del(#{bug.bug_id});"
    ) %>
  </td>
</tr>
