  <tr id="bug-<%= h bug.bug_id %>">
    <td><a href="javascript:///" onclick="buginfo(<%= h bug.bug_id %>);"><strong><%= h bug.bug_id %></strong></a></td>
    <td><%= truncate(h(bug.title), :length => 60) %></td>
    <td><%= link_to_remote(
              image_tag('icons/minus.png', :alt => 'Mark as deleted'), 
              :url => delbug_url(:id => @glsa.id, :bugid => bug.bug_id), 
              :success => "markBugAsDeleted('#{h(bug.bug_id)}');", 
              :html => {:title => 'Mark as deleted'}) %></td>
  </tr>