<tr id="bug-<%= bug.bug_id %>">
  <td><%= bugready_icon(bug.bug_ready?) %></td>
  <td>
    <a href="javascript:///" onclick="buginfo(<%= bug.bug_id %>);"><strong><%= bug.bug_id %></strong></a></td>
  <td><%= truncate(bug.title, :length => 60) %></td>
</tr>