<div class="legend box">
  <h2>Legend</h2>
  <span class="column">
    <strong>Status</strong><br />
    <%= status_icon "request" %> Request<br />
    <%= status_icon "draft" %> Draft<br />
    <%= status_icon "release" %> Sent GLSA<br /><br />
  </span>

  <span class="column">
    <strong>Bugs</strong><br />
    <%= bugready_icon true %> All bugs ready<br />
    <%= bugready_icon false %> Not ready<br /><br /><br />
  </span>

  <span class="column">
    <strong>Approval</strong><br />
    <%= approval_icon :approved %> Approved<br />
    <%= approval_icon :comments_pending %> Comments pending<br />
    <%= approval_icon :commented %> Commented<br />
    <%= approval_icon :none %> None
  </span>

  <span class="column">
    <strong>Workflow</strong><br />
    <%= workflow_icon :own %> Own draft<br />
    <%= workflow_icon :todo %> TODO items pending<br />
    <%= workflow_icon :commented %> You have commented<br />
    <%= workflow_icon :approved %> You have approved
  </span>

  <span class="column last">
    <strong>Embargo</strong><br />
    <%= restricted_icon false %> public<br />
    <%= restricted_icon true %> confidential
  </span>
  <br class="clear" />
</div>