<h1>
  <span class="floatright">
    <%= form_tag(archive_glsas_path, :remote => true) do -%>
    <%= image_tag 'icons/calendar-select-month.png' %>
    <%= date_select('view', 'month', :discard_day => true, :order => [:month, :year]) %>
    <%= image_submit_tag 'icons/next.png' %>
    <% end -%>
  </span>
  Released GLSAs <span id="date">in <%= Date::MONTHNAMES[@month] %> <%= @year %></span>
</h1>

<table class="glsamaker-table">
<tr align="left">
  <th>ID</th>
  <th>State</th>
  <th>Title</th>
  <th>Last changed at/by</th>
  <!--<th>Bug IDs</th>-->
  <% if current_user.is_el_jefe? %><th>Admin</th><% end %>
</tr>
<tbody id="list">
<%= render :partial => "glsa_row", :collection => @glsas, :as => :glsa, :locals => { :view => :drafts } %>
</tbody>
</table>

<%= render :partial => "status_legend" %>
