<h1>Comparing revisions <%= h params[:old] %> and <%= h params[:new] %></h1>

<div class="box buttons">
  <span class="floatright">
    <%= link_to "#{image_tag 'icons/draft.png'} Back", {:controller => 'glsa', :action => 'show', :id => @glsa}, {:class => 'button'} %>
  </span>
  <% form_tag(:action => :diff, :id => @glsa.id) do %>
  <%= submit_tag 'Compare' %> revisions
  <%= select_tag :old,
                 options_from_collection_for_select(@glsa.revisions, :revid, :revid) %> (old)
  and
  <%= select_tag :new,
                 options_from_collection_for_select(@glsa.revisions, :revid, :revid) %> (new).
  <% end %>
</div>

<pre>
<%= h @diff %>
</pre>