<h1>
  <span class="greytext floatright smalltext">
    &larr; Previous revision | <strong>Revision <%= @glsa.last_revision.revid %></strong> | Next revision &rarr;
  </span>
  Edit GLSA <code><%= h @glsa.glsa_id %></code>
</h1>

<% @sev_tab = [{"sev" => "low"}, {"sev" => "normal"}, {"sev" => "high"}] %>

<% form_tag :action => 'update', :id => @glsa do |f| -%>
<div style="float: right; width: 44%;">
  <div class="box">
    <h2 style="margin: 0;"><img src="/images/icons/info.png" alt="info" />
      GLSA <%= @glsa.status %> <%= @glsa.glsa_id %> &mdash; Revision <%= @glsa.last_revision.revid %></h2>
    <% if false %>
      <p><img src="/images/icons/ok.png" alt="ok" /> This draft is marked <strong>bug ready.</strong></p>
    <% else %>
      <p><img src="/images/icons/pending.png" alt="pending" /> There are some bugs <strong>pending.</strong></p>
    <% end %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.created_at.to_s %></span>
      Requester: <strong><%= h @glsa.requester.name %></strong>
    </p>
    <% if @glsa.submitter %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.updated_at.to_s %></span>
      Submitter: <strong><%= h @glsa.submitter.name %></strong>
    </p>
    <% end %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.updated_at.to_s %></span>
      Editor: <strong><%= h @glsa.last_revision.user.name %></strong>
    </p>
  </div>
  
  <div class="box">
    <h2><img src="/images/icons/metadata.png" alt="metadata" /> <label for="title">Metadata</label></h2>
    <p style="float: left; width: 50%;"><label for="access"><img src="/images/icons/access.png" alt="access" /> Access:</label>
      <select name="glsa[access]" id="access">
        <%= options_for_select [['local', 'local'], ['remote', 'remote'], ['local, remote', 'both']], @rev.access %>
      </select>
    </p>
    <p><label for="severity"><img src="/images/icons/severity.png" alt="severity" /> Severity:</label>
      <select name="glsa[severity]" id="severity">
        <%= options_for_select %w{ low normal high }, @rev.severity %>
      </select>
    </p>
    <p><label for="keyword"><img src="/images/icons/keyword.png" alt="keyword" /> GLSA Keyword:</label>
     
      <%= text_field_tag "glsa[product]", @rev.product, :class => "nice" %></p>
    
  </div>

  <div class="box">
    <h2>
      <span class="toolbar">
        <a href="javascript://" onclick="backgroundDialog();" title="Get background">
          <img src="/images/icons/background-go.png" alt="Get background" />
        </a>
      </span>
      <label for="background"><img src="/images/icons/background.png" alt="background" /> Background</label>
    </h2>  
    <p><textarea name="glsa[background]" id="background" class="nice" rows="3"><%= h lastrev_content(@glsa, 'background') %></textarea></p>
  </div>

  <div class="box">
    <h2 style="margin: 0;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <a href="javascript://" onclick="addBugDialog(<%= @glsa.id %>);" title="Add bug">
          <img src="/images/icons/plus.png" alt="Add bug" />
        </a>
      </span>
      <img src="/images/icons/bug.png" alt="bug" /> Bugs
    </h2>
    <table id="bugtable">
      <%= render :partial => "edit_bug_row", :collection => @rev.bugs, :as => :bug %>
    </table>
  </div>
  
  <div class="box">
    <h2 style="margin: 0;"><img src="/images/icons/comment.png" alt="comment" /> Comments</h2>
      <ul>
        <% @glsa.comments.each do |c| -%>
          <li><%=h c.text %></li>
        <% end -%>
      </ul>
  </div>
</div>

<div id="left">
  <div class="box">
    <h2 style="margin: 0;"><img src="/images/icons/title.png" alt="title" /> <label for="title">Title</label></h2>
    <p><textarea name="glsa[title]" id="title" class="largetext nice" rows="1"><%= h lastrev_content(@glsa, 'title') %></textarea></p>
  </div>
  
  <div class="box">
    <h2 style="margin: 0;"><img src="/images/icons/synopsis.png" alt="synopsis" /> <label for="synopsis">Synopsis</label></h2>
    <p><textarea name="glsa[synopsis]" id="synopsis" class="nice" rows="1"><%= h lastrev_content(@glsa, 'synopsis') %></textarea></p>
  </div>
  
  <div class="box">
    <h2 style="margin: 0;">
      <img src="/images/icons/package.png" alt="Packages" />
      Packages
    </h2>

    <table class="padcells swap centercells" id="packages_table_vulnerable">
      <tr>
        <th><img src="/images/icons/atom.png" alt="atom" /> Atom</th>
        <th class="odd" colspan="2">Version</th>
        <th><img src="/images/icons/arch.png" alt="arch" /> Arch</th>
        <th class="odd"><img src="/images/icons/auto.png" alt="auto" /> Auto</th>
  
      </tr>
      
	  <tr>
	  	<td><img src="/images/icons/affected.png" alt="vulnerable" /> Vulnerable
        (<%= add_vulnerable_package_link '<img src="/images/icons/package-add.png" alt="Add package" />' %>)</td>	
	  </tr>
	  <%= render :partial => 'package', :collection => @rev.vulnerable_packages %>
	</table>
	
	<table class="padcells swap centercells" id="packages_table_unaffected">
      <tr>
      	<td><img src="/images/icons/unaffected.png" alt="unaffected" /> Unaffected
		(<%= add_unaffected_package_link '<img src="/images/icons/package-add.png" alt="Add package" />' %>)</td>
	  </tr>
	  <%= render :partial => 'package', :collection => @rev.unaffected_packages %>
	  
    </table>        
  </div>
  
  <div class="box" id="desc-box">
    <h2 style="position: relative;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <%= link_to_function image_tag('icons/resolution-go.png',
                                        :alt => 'Set default description'), 
                              "generateDescription()",
                              :title => 'Set default description' %>
        <img src="/images/separator.png" />
        <a href="javascript:///" onclick="lines('description', -5);" title="Fewer lines">
          <img src="/images/icons/zoom_out.png" alt="Fewer lines" />
        </a>
        <a href="javascript:///" onclick="$('description').rows = 15;" title="Reset lines">
          <img src="/images/icons/zoom_100.png" alt="Reset lines" />
        </a>
        <a href="javascript:///" onclick="lines('description', 5);" title="More lines">
          <img src="/images/icons/zoom_in.png" alt="More lines" />
        </a>
        <img src="/images/separator.png" />
        <a href="javascript:///" onclick="" title="Open Intel editor (CVE and other data)">
          <img src="/images/intel-editor.png" alt="Intel editor" />
        </a>
      </span>
      <img src="/images/icons/edit.png" alt="description" />
      <label for="description">Description</label>
    </h2>
    <p><textarea name="glsa[description]" id="description" class="nice" rows="15"><%= h lastrev_content(@glsa, 'description') %></textarea></p>
  </div>

  <div class="box">
    <h2 style="margin: 0;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <a href="javascript:///" onclick="lines('impact', -2);" title="Fewer lines">
          <img src="/images/icons/zoom_out.png" alt="Fewer lines" />
        </a>
        <a href="javascript:///" onclick="$('impact').rows = 5;" title="Reset lines">
          <img src="/images/icons/zoom_100.png" alt="Reset lines" />
        </a>
        <a href="javascript:///" onclick="lines('impact', 2);" title="More lines">
          <img src="/images/icons/zoom_in.png" alt="More lines" />
        </a>
        <img src="/images/separator.png" />
      </span>
      <img src="/images/icons/impact.png" alt="Impact" />
      <label for="Impact">Impact</label>
    </h2>
    <p><textarea name="glsa[impact]" id="impact" class="nice" rows="5"><%= h lastrev_content(@glsa, 'impact') %></textarea></p>
  </div>
  
  <div class="box">
    <h2 style="margin: 0;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <a href="javascript:///" onclick="$('workaround').value = 'There is no known workaround at this time.'" title="No known workaround">
          <img src="/images/icons/workaround-no.png" alt="No known workaround" />
        </a>
      </span>
      <img src="/images/icons/workaround.png" alt="Workaround" />
      <label for="workaround">Workaround</label>
    </h2>
    <p><textarea name="glsa[workaround]" id="workaround" class="nice" rows="2"><%= h lastrev_content(@glsa, 'workaround') %></textarea></p>
  </div>
  
  <div class="box">
    <h2 style="margin: 0;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <%= link_to_function( image_tag('icons/resolution-go.png',
                                        :alt => 'Set default resolution'), 
                              "generateResolution()",
                              :title => 'Set default resolution') %>
      </span>
      <img src="/images/icons/resolution.png" alt="Resolution" />
      <label for="resolution">Resolution</label>
    </h2>
    <p><textarea name="glsa[resolution]" id="resolution" class="nice" rows="5"><%= h lastrev_content(@glsa, 'resolution') %></textarea></p>
  </div>

  <div class="box">
    <h2 style="margin: 0;">
      <span style="float: right; margin-right: 5px; margin-top: 5px;">
        <%= add_reference_link '<img src="/images/icons/reference-add.png" alt="Add reference" />' %>
      </span>
      <img src="/images/icons/reference.png" alt="Packages" />
      References

      <table class="padcells swap centercells" id="references_table">
      <tr>
        <th><img src="/images/icons/atom.png" alt="title" /> Title</th>
        <th><img src="/images/icons/reference.png" alt="URL" /> URL</th>
        <th></th>
      </tr>

      <%= render :partial => 'reference', :collection => @rev.references %>

      </table>
    </h2>
  </div>

</div>

<div style="text-align: right;">
  <input type="submit" class="button" style="font-size: 150%;" value="Save &rarr;" />
</div>
<%- end -%>