<h1>New GLSA request</h1>

<%= form_tag(:action => "create") do %>
<div class="box w40em">
  <input type="hidden" name="what" value="request" />
  <%= box_title('Bugs', :icon => 'icons/bug.png') %>
  <p><label for="bugs">Please enter the relevant bug ID(s), separate more than one bug with a comma:</label></p>

  <p><input type="text" name="bugs" id="bugs" class="hugetext nice" value="<%= params[:bugs] %>"/></p>
  <script language="javascript">
    $("#bugs").change(function() {
      $.post("<%= url_for :controller => 'tools', :action => 'file_req_ajax_info' %>", { bugs: $("#bugs").val() }, function (data) {
        $('#ajaxbugs').html(data.buginfo);
        $('#suggesteddescr').html(data.title);
      }, 'json');
    });
  </script>              
  <div id="ajaxbugs"></div>
</div>
<br />
<div class="box w40em">
  <%= box_title('Title', :icon => 'icons/edit.png') %>
  <p><label for="title">Either take the suggested title or enter a new custom one:</label></p>
  <div id="suggesteddescr"></div>
  <p><textarea name="title" id="title" class="largetext nice" rows="2"><%= params[:title] %></textarea></p>
</div>
<br />
<div class="box w40em">
  <%= box_title('Comment ' << content_tag('small', '(optional)'), :icon => 'icons/comment.png', :escape => false) %>
  <p><label for="comment">If you want to add a comment, enter it here:</label></p>
  <p><textarea name="comment" id="comment" class="nice" rows="4"><%= params[:comment] %></textarea></p>
</div>
<br />
<div class="box w40em">
  <%= box_title('References', :icon => 'icons/reference.png') %>
  <p>
    <input type="checkbox" name="import_references" id="import_references" value="1" checked="checked" />
    <label for="import_references">Import all references from linked bugs</label>
  </p>
</div>
<br />
<%- if current_user.access >= 1 -%>
<div class="box w40em">
  <%= box_title('Permissions', :icon => 'icons/permission.png') %>
  <p><label for="access">Mark this request as</label>:
    <select name="access" id="access">
      <%= options_for_select %w{ public confidential }, params[:access] || "public" %>
    </select>
  </p>
</div>
<br />
<%- end -%>
<div style="width: 40em; text-align: right; display: inline-block;">
  <input type="submit" class="button" value="File request &raquo;"/>
</div>
<% end -%>