<h1>GLSA released</h1>

<div class="box w40em">
  <h2>Release information</h2>

  <table>
    <tr>
      <td>Official ID</td>
      <td><strong>GLSA <%= @glsa.glsa_id %></strong></td>
    </tr>
    <tr>
      <td>Title</td>
      <td><strong><%= @rev.title %></strong></td>
    </tr>
  </table>
</div>

<div class="box w40em">
  <h2>Next steps</h2>

  <p>
    Now, download the advisory XML and publish it in Git.<br />
    Then you can send the advisory email and close the relevant bugs in Bugzilla.
  </p>

  <div class='box-actions'>
    <button onclick="document.location = '<%= escape_javascript(download_glsa_path(@glsa, :format => 'xml')) %>'">Download XML</button>
    <button onclick="window.open('<%= escape_javascript(download_glsa_path(@glsa, :format => 'txt')) %>'); return false;">Show text</button>
    <%= button_to "Close bugs", finalize_release_glsa_path(@glsa, :close_bugs => '1'), :method => :post %>
  </div>
</div>
