<h1><%= h @glsa.glsa_id %>:<%= h @rev.revid %></h1>


Show version: <% @glsa.revisions.each do |r| %>
<%= link_to r.revid, :controller => "glsa", :action => "show", :id => @glsa, :rev_id => r.revid %>
<% end %> <br/>

<b>GLSA revision:</b> <%= @rev.revid %> <br/>
<b>GLSA revision date:</b> <%= @rev.created_at %> <br/>
<br/>
<b>Title:</b> <%= @rev.title %> <br/>
<b>Access:</b> <%= @rev.access %> <br/>
<b>Product:</b> <%= @rev.product %> <br/>
<b>Severity:</b> <%= @rev.severity %> <br/>
<b>Synopsis:</b> <%= @rev.synopsis %> <br/>
<br/>

<% @bugs = @rev.bugs %>
<b>Related bugs:</b>
<% @bugs.each do |b| %>
<%= b.bug_id %>
<% end %>
<br/>

<b>Unaffected Packages:</b> <%= @rev.product %> <br/>
<b>Vulnerable Packages:</b> <%= @rev.product %> <br/>
<br/>

<b>Background:</b> <%= @rev.background %> <br/>
<b>Description:</b> <%= @rev.description %> <br/>
<b>Impact:</b> <%= @rev.impact %> <br/>
<br/>

<b>Workaround:</b> <%= @rev.workaround %> <br/>
<b>Resolution:</b> <%= @rev.resolution %> <br/>
<br/>

<% @refs = @rev.references %>
<b>References:</b> <br/>
<% @refs.each do |r| %>
<li><%= link_to r.title, r.url -%></li><br/>
<% end %>


<b>Requested by:</b> <%= @glsa.requester %> <br/>
<b>Submitter:</b> <%= @glsa.submitter %> <br/>
<b>Bug ready:</b> <%= @glsa.bugreadymaker %> <br/>
</br
>
