<h1>
  <%= @rev.title %>
</h1>

<div class="box buttons">
  <span class="floatright">
    Show revision: <% @glsa.revisions.each do |r| %>
    <%= link_to r.revid, :controller => "glsa", :action => "show", :id => @glsa, :rev_id => r.revid %>
    <% end %>
  </span>
  <%= link_to "#{image_tag 'icons/edit.png'} Edit this draft", {:controller => 'glsa', :action => 'edit', :id => @glsa}, {:class => 'button'} %>
  <%= link_to "#{image_tag 'icons/xml.png'} View as XML", {:controller => 'glsa', :action => 'show', :id => @glsa, :format => 'xml'}, {:class => 'button'} %>
  <%= link_to "#{image_tag 'icons/txt.png'} View as Text", {:controller => 'glsa', :action => 'show', :id => @glsa, :format => 'txt'}, {:class => 'button'} %>  
</div>

<div style="float: right; width: 40%;">
  <div class="box pmargin">
    <h2>
      GLSA <%= status_icon @glsa.status %> <tt><%= h @glsa.glsa_id %>:r<%= @rev.revid %></tt>
      <%= bugready_icon @rev.bug_ready? %>
      <%= approval_icon @glsa.approval_status %>
      <%= workflow_icon(@glsa.workflow_status(current_user)) %>
      <%= restricted_icon @glsa.restricted %>
    </h2><br />
    <% if @glsa.workflow_status(current_user) == :approved and @glsa.last_revision.bug_ready? %>
      <p><img src="/images/icons/ok.png" alt="ok" /> This draft is <strong>ready for sending</strong>.</p>
    <% else %>
      <p><img src="/images/icons/pending.png" alt="pending" /> This draft is <strong>not ready for sending.</strong></p>
    <% end %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.created_at.to_s %></span>
      Requester: <strong><%= h @glsa.requester.name %></strong>
    </p>
    <% if @glsa.submitter %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.updated_at.to_s %></span>
      Submitter: <strong><%= h @glsa.submitter.name %></strong>
    </p>
    <% end %>
    <p>
      <span style="float: right; font-size: 90%;"><%= @glsa.updated_at.to_s %></span>
      Editor: <strong><%= h @glsa.last_revision.user.name %></strong>
    </p>
  </div>
  
  <div class="box">
    <h2>
      <span class="toolbar">
        <a href="/glsa/update_cache/<%= @glsa.id %>" title="Update all cached metadata">
          <img src="/images/icons/refresh.png" alt="Update all cached metadata" />
        </a>
      </span>      
      <img src="/images/icons/bug.png" alt="bug" /> Bugs
    </h2>
    <table id="bugtable">
      <%= render :partial => "show_bug_row", :collection => @glsa.last_revision.bugs, :as => :bug %>
    </table>
  </div>  
</div>

<p>
<strong>GLSA revision date:</strong> <%= @rev.created_at %>
</p>

<p>
<strong>Access:</strong> <%= h @rev.access %> <br />
<strong>Product:</strong> <%= h @rev.product %> <br />
<strong>Severity:</strong> <%= h @rev.severity %> <br />
<strong>Synopsis:</strong> <%= h @rev.synopsis %> <br />
</p>

<p><strong>Related bugs:</strong><br />
<% @rev.bugs.each do |b| %>
      <%= link_to_function h(b.bug_id), "buginfo('#{h b.bug_id}')" %>
<% end %>
</p>

<p>
<strong>Unaffected Packages:</strong><br />
<ul>
  <% @rev.packages.each do |pkg| ; next unless pkg.my_type == "unaffected" %>
    <li><%= h pkg.comp %><strong><%= h pkg.atom %></strong>-<%= h pkg.version %> on <%= h pkg.arch %> (auto: <%= pkg.automatic %>)</li>
  <% end %>
</ul>

<strong>Vulnerable Packages:</strong><br />
<ul>
  <% @rev.packages.each do |pkg| ; next unless pkg.my_type == "vulnerable" %>
    <li><%= h pkg.comp %><strong><%= h pkg.atom %></strong>-<%= h pkg.version %> on <%= h pkg.arch %> (auto: <%= pkg.automatic %>)</li>
  <% end %>
</ul>
</p>

<p><strong>Background:</strong> <%= h@rev.background %> </p>

<p>
  <strong>Description:</strong><br />
  <%= sanitize(@rev.description, :tags => %w[p ul li code]) %> 
</p>

<p>
  <strong>Impact:</strong><br />
  <%= sanitize(@rev.impact, :tags => %w[p ul li code]) %>
</p>

<p><strong>Workaround:</strong><br />
<%= h @rev.workaround %></p>
<p><strong>Resolution:</strong><br />
<%= sanitize(@rev.resolution, :tags => %w[p ul li code]) %>
</p>

<% @refs = @rev.references %>
<p><strong>References:</strong>
<ul>
<% @refs.each do |r| %>
<li><%= link_to r.title, r.url -%></li>
<% end %>
</ul>
</p>