<% if @bug == nil %>

<h2 style="margin-top: 0;"><%= error_msg("Invalid Bug ID") %></h2>
<p>There is no such bug on Gentoo's Bugzilla.</p>

<% elsif (@bug.is_a? String and @bug == "down") %>

<h2 style="margin-top: 0;"><%= error_msg("Bugzilla is unreachable") %></h2>
<p>Sorry, but the Gentoo Bugzilla is unreachable at the moment.</p>

<% elsif @bug.restricted %>

<h2 style="margin-top: 0;"><%= image_tag('icons/restricted.png') %> This bug is restricted</h2>

<p>Currently, GLSAMaker cannot process restricted bugs. :(</p>
<p>Try to <a href="<%= @bug.url %>" class="button" target="_blank"><%= image_tag 'icons/bug.png' %> <strong>Open bug <%= @bug.bug_id %> in Bugzilla</strong></a> instead.</p>

<% else %>


<h2 style="margin-top: 0;"><%= @bug.summary %></h2>
<div style="margin-top: 1.5em;">
  <a href="<%= @bug.url %>" class="button" target="_blank"><%= image_tag 'icons/bug.png' %> <strong>Open bug <%= @bug.bug_id %> in Bugzilla</strong></a>
  <a href="javascript:///" onclick="Modalbox.show('<%= bug_url(:id => @bug.bug_id) %>');" class="button"><%= image_tag 'icons/larr.png' %> <strong>Back to overview</strong></a>
</div>

<h3>History</h3>
<ol class="comments" style="height: 300px; overflow-y: scroll; padding-right: 1em;">
<% @bug.history.changes.each do |change| %>
  <li>
    <p style="background-color: #D3CFE5; padding: 3px; color: #3E3550;">
      <strong><%= h(change.user) %></strong> <small>at <%= change.time %></small>
    </p>
    <p>
      <% change.changes.each do |where, what| %>
        <strong><%= where.to_s.capitalize %>:</strong> <code><%= what[0] %> &rarr; <%= what[1] %></code><br />
      <% end %>    
    </p>
  </li>
<% end %>
</ol>

<% end %>