<div class="box w40em">
  <h2>Edit user</h2>
<!--  <form action="/users/1" class="edit_user" id="edit_user_1" method="post"><div style="margin:0;padding:0;display:inline"><input name="_method" type="hidden" value="put" /><input name="authenticity_token" type="hidden" value="PP49hANhUN/JeBup4VnhNXzfU8yIGW1kLX+H8WitEyU=" /></div> -->

  <% form_for(:user, @user, :url => admin_user_path, :html=>{:method=>:put} ) do |f| %>
    <%= f.error_messages %>

  <table>
    <tr>
      <th>ID</th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>Login</th>
      <td><%= f.text_field :login %></td>
    </tr>    
    <tr>
      <th>Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>Access Level</th>
      <td><%= select('user', 'access', access_list) %></td>
    </tr>
    <tr>
      <th>Disabled flag</th>
      <td><%= f.check_box :disabled %></td>
    </tr>
    <tr>
      <th>Admin flag</th>
      <td><%= f.check_box :jefe %></td>
    </tr>
</table>
<p>
<%= f.submit 'Update' %>
</p>
</div>
<% end %>
<%= link_to 'Back', admin_user_path(@user) %>