<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @pageTitle + " &mdash; "if @pageTitle%>GLSAMaker 2</title>
	<%= stylesheet_link_tag "screen", :cache => false %>
	<%= stylesheet_link_tag "admin", :cache => false %>
	<%= stylesheet_link_tag "modalbox", :cache => false %>
  <%= javascript_include_tag :all, :cache => false %>
</head>
<body id="<%= h @pageID if @pageID %>">
  <div id="top-menu">
    <div class="floatright">
      <ul>
        <li><a href="/my/account" class="my-account">My account</a></li>
      </ul>
    </div>
    <div id="loggedas">Logged in as <a href="#"><%= h current_user.login %> (<%= h current_user.name %>)</a></div>
    <ul>
      <li><a href="/" class="home">Home</a></li>
      <li><a href="/admin" class="administration">Administration</a></li>
      <li><a href="#" class="help">Help</a></li>
    </ul>
  </div>

  <div id="menu">
        <img src="/images/logo.png" alt="Home" class="logo" usemap="#m_logo" />
        <map name="m_logo" id="m_logo">
          <area shape="rect" coords="95,0,252,42" href="#" alt="Home" />
        </map>
        <div id="search">
          <form action="/search/index/glsamaker2" method="get">
            <a href="/search/index/glsamaker2" accesskey="4">Search</a>:
            <input accesskey="f" class="small" id="q" name="q" size="20" type="text" />

            <select name="at">
              <option selected="selected">Everywhere</option>
              <option disabled="disabled" style="text-align: center">&mdash;&mdash;&mdash;&mdash;</option>
              <option value="glsa">GLSAs</option>
              <option value="glsa-request">&nbsp;&nbsp;Requests</option>
              <option value="glsa-draft">&nbsp;&nbsp;Drafts</option>
              <option value="glsa-sent">&nbsp;&nbsp;Archive</option>
              <option disabled="disabled" style="text-align: center">&mdash;&mdash;&mdash;&mdash;</option>
              <option disabled="disabled">Vulnerability intelligence</option>
              <option value="cve">&nbsp;&nbsp;CVEs</option>
              <option value="secunia">&nbsp;&nbsp;Secunia Advisories</option>
            </select>
          </form>
        </div>
        <ul>
          <li><a href="/glsa/new" class="new">New...</a></li>
          <li style="margin-right: 2em;">&nbsp;</li>
          <li><a href="/glsa/requests" class="requests">Requests</a></li>
          <li><a href="/glsa/drafts" class="drafts">Drafts</a></li>
          <li><a href="/glsa/archive" class="archive">Archive</a></li>
          
          <li style="margin-right: 2em;">&nbsp;</li>
          <li><a href="/cve" class="cve">CVE</a></li>
          <% if Module.constants.include? "Secunia" %>
          <li style="margin-right: 2em;">&nbsp;</li>
          <li><a href="/" class="secunia">Secunia Advisories</a></li>
          <% end %>
        </ul>
      </div>

    <%- if flash[:notice] or flash[:error] -%>
    <div id="flash" class="<%= flash[:error] ? "error" : "notice" %>">
      <%= link_to_function(image_tag('icons/close.png'), {:style => 'float: right;', :alt => 'Hide the notification'}) do |page|
        page[:flash].drop_out
      end %>
      <img src="/images/icons/<%= flash[:error] ? 'error' : 'info' %>.png" alt="message icon" style="vertical-align: middle" />
      <%= h flash[:error] ? flash[:error] : flash[:notice] %>
    </div>
    <%- end -%>
    <div id="content">
<%= yield %>
    </div>
    <div id="footer">
      <span><strong>GLSAMaker <%= h GLSAMAKER_VERSION %></strong></span>
      <span>Copyright &copy; 2009 Gentoo Foundation, Inc.</span>
      <span><%= link_to "About&hellip;", :controller => 'index', :action => 'about' %></span>
      <br />
      <span><strong>Administrative contact: <a href="mailto:<%= h GLSAMAKER_ADMIN_EMAIL%>"><%= h GLSAMAKER_ADMIN_EMAIL%></a></strong></span></div>
    </div>
    <br class="clear" />
</body>
</html>