<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><% if @pageTitle%><%= @pageTitle %> &mdash; <% end %>GLSAMaker 2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= @pageID if @pageID %>">
  <div id="top-menu">
    <div class="floatright">
      <ul>
        <!--<li><a href="/my/account" class="my-account">My account</a></li>-->
      </ul>
    </div>
    <div id="loggedas">Logged in as <a href="#"><%= current_user.login %> (<%= current_user.name %>)</a></div>
    <ul>
      <li><a href="/" class="home">Home</a></li>
      <% if current_user.is_el_jefe? %><li><a href="/admin" class="administration">Administration</a></li><% end %>
      <!--<li><a href="#" class="help">Help</a></li>-->
    </ul>
  </div>

  <div id="menu">
    <img src="<%= asset_path 'logo.png' %>" alt="Home" class="logo" usemap="#m_logo" />
    <map name="m_logo" id="m_logo">
      <area shape="rect" coords="95,0,252,42" href="#" alt="Home" />
    </map>
    <div id="search">
      <%= form_tag(search_path, :method => 'get') do -%>
        <label for="q">Search:</label>
        <input accesskey="f" class="small" id="q" name="q" size="20" type="text" value="<%= params[:q] %>" />

        <select name="at">
          <option value="everywhere" selected="selected">Everywhere</option>
          <!--<optgroup label="Advisories">
            <option value="glsa">All GLSAs</option>
            <option value="glsa-requests">Requests</option>
            <option value="glsa-drafts">Drafts</option>
            <option value="glsa-archive">Archive</option>
          </optgroup>
          <optgroup label="Vulnerability Intelligence">
            <option value="cve">CVEs</option>
            <option value="cve-assigned">Assigned CVEs</option>
            <option value="cve-new">New CVEs</option>
          </optgroup>-->
        </select>
      <% end -%>
    </div>
    <ul>
      <li><%= link_to "New…", new_glsa_path, :class => 'new' %></li>
      <li style="margin-right: 2em;">&nbsp;</li>
      <li><%= link_to "Requests", requests_glsas_path, :class => 'requests' %></li>
      <li><%= link_to "Drafts", drafts_glsas_path, :class => 'drafts' %></li>
      <li><%= link_to "Archive", archive_glsas_path, :class => 'archive' %></li>

      <% if current_user.access >= 2 %>
      <li style="margin-right: 2em;">&nbsp;</li>
      <li><a href="/cve/list" class="cve">CVETool</a></li>
      <% if Module.constants.include? "Secunia" %>
      <li style="margin-right: 2em;">&nbsp;</li>
      <li><a href="/" class="secunia">Secunia Advisories</a></li>
      <% end %>
      <% end %>
    </ul>
  </div>

  <%- if flash[:notice] or flash[:error] -%>
  <div id="flash" class="<%= flash[:error] ? "error" : "notice" %>">
    <%= link_to_function(image_tag('icons/close.png'), {:style => 'float: right;', :alt => 'Hide the notification'}) do |page|
      page[:flash].drop_out
    end %>
    <%- if flash[:error] -%>
      <%= image_tag 'icons/error.png', :style => 'vertical-align: middle' %>
    <%- else -%>
      <%= image_tag 'icons/info.png', :style => 'vertical-align: middle' %>
    <%- end -%>
    <%= flash[:error] ? flash[:error] : flash[:notice] %>
  </div>
  <%- end -%>
  <div id="content">
<%= yield %>
  </div>
  <div id="footer">
    <span><strong>GLSAMaker <%= `git describe --tags` %></strong></span>
    <span><strong>CVE Data current as of: <%= last_import_start ? last_import_start : 'unknown' %></strong></span>
    <span><%= link_to "About&hellip;".html_safe, :controller => 'index', :action => 'about' %></span>

    <span class="floatright"><strong>Administrative contact: <a href="mailto:<%= GLSAMAKER_ADMIN_EMAIL%>"><%= GLSAMAKER_ADMIN_EMAIL%></a></strong></span>
  </div>
  <br class="clear" />
</body>
</html>
