<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><%= @pageTitle + " &mdash; "if @pageTitle%> GLSAMaker 2 &mdash; CVETool</title>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'uki', 'uki-more', 'glsamaker' %>
  <%= javascript_include_tag 'searchable' %>
  <script type="text/javascript">
    uki.theme.airport.imagePath = '/uki-theme/airport/i/';
  </script>

  <style type="text/css">body, html { margin: 0; padding: 0; overflow:hidden; };</style> 
</head>
<body id="<%= h @pageID if @pageID %>">
  <%= yield %>
</body>
</html>